/* stylesheet.css */

/* Reset box styling */
.panel-status-menu-box {
    spacing: 2px; /* Reduce spacing between items */
}

.dexcom-icon {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 1px;
}

/* Error state styling */
.dexcom-error {
    color: #ff0000;
}

/* Menu item styling */
.dexcom-menu-item {
    padding: 8px;
}

.dexcom-menu-header {
    font-weight: bold;
    padding-top: 8px;
}

.dexcom-refresh-button:hover {
    background-color: rgba(64, 132, 214, 0.15);
}

.dexcom-refresh-button:active {
    background-color: rgba(64, 132, 214, 0.25);
}

.dexcom-value-container {
    padding: 1px 2px;
    border-radius: 4px;
    margin: 1px 0;
    height: 1.4em;
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
}

.dexcom-value {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.dexcom-trend {
    font-size: 14px;
    margin-left: 1px;
    font-weight: bold;
}

.dexcom-delta {
    font-size: 12px;
    margin-left: 1px;
}

.dexcom-time {
    font-size: 11px;
    margin-left: 1px;
    margin-right: 1px;
}